  body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
  }

  .bar-container {
    width: 150px;
    height: 10px;
    background: #ddd;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    position: fixed;
    bottom: 220px;
    right: 700px;
    
  }

  .bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      #2f80ff 0%,
      #7b2cff 100%
    );
    transform-origin: left; 
    animation: shrink 30s linear forwards;
    border-radius: 30px;
  }

  @keyframes shrink {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
