  body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }


  
  .bar-container {
    max-width: 70%;
    height: 0.5%;
    background: #ddd;
    overflow: hidden;
    border-radius: 13%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 768px) {
  .bar-container {
    top: 350px;
    right: 16px;
    max-width: 70%;
  }
}

  .bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      #2f80ff 0%,
      #7b2cff 100%
    );
    transform-origin: left; 
    animation: shrink 30s linear forwards;
    border-radius: 30px;
    z-index: 2;
  }

  @keyframes shrink {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }


    @media (max-width: 768px) {
  .time-number {
    left: 25%;
  }
}
.time-number {
  color: #4da3ff;
  transition: color 0.3s ease;
}
.time-number {  
  position: absolute;
  font-size: 12px;
  z-index: 3;
  left: 25%;
}

  @media (max-width: 768px) {
  .timer {
    top: 350px;
    right: 13px;
  }
}
.timer {
  position: absolute;
  bottom: 20%;
  left: 15%;
  color: #8a8a8a;
  font-size: 12px;
}

.shadow-box {
  background: #ffffff;         
  color: #fff;
  border-radius: 16px;     
  padding: 24px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 2px 6px rgba(0, 0, 0, 0.2); 
  
  max-width: 300px;
  position: relative;
  height: 60%;
     
  z-index: 0;
}

  @media (max-width: 768px) {
  .output {
    top: 400px;
    right: 10px;
  }
}
#output {
  position: absolute;
  font-weight:bold ;
  font-size: 20px;
}

#saveBtn {
  position: fixed;
  background-color: rgba(73, 73, 73, 0.541);
  height: 35px;
  width: 60px;
  font-size: 15px;
  bottom: 10px;
  left: 10px;
  border-radius: 30px;
  border: none;
  color: #fff;
}

.whw {
  position: fixed;
  top: 10px;
  left: 10px;
}

#userInput {
  position: fixed;
  top: 35px;
  left: 10px;
}

.whw2 {
  position: fixed;
  top: 70px;
  left: 10px;
}

#minj1 {
  position: fixed;
  top: 95px;
  left: 10px;
}

#output2 {
  position: absolute;
  top: 420px;
  left: 31px;
  font-weight: bold;
}

  @media (max-width: 768px) {
  .wkr {
bottom: 38.3%;
left: 24.6%;
  }
}

.wkr {
  position: fixed;
  z-index: 2;
}

.whw3 {
  position: fixed;
  top: 140px;
  left: 10px;
}

#minj2 {
  position: fixed;
  top: 165px;
  left: 10px;
}

#output3 {
  position: absolute;
  top: 420px;
  left: 100px;
  font-weight: bold;
}


.whw4 {
  position: fixed;
  top: 200px;
  left: 10px;
}

#adr {
  position: fixed;
  top: 225px;
  left: 10px;
}

#output4 {
  position: absolute;
  top: 445px;
  left: 30px;
  font-size: 12px;
}

.whw5 {
  position: fixed;
  top: 260px;
  left: 10px;
}

#adr2 {
  position: fixed;
  top: 285px;
  left: 10px;
}

#output5 {
  position: absolute;
  top: 460px;
  left: 30px;
  font-size: 12px;
}

.jj {
  position: fixed;
  z-index: 2;
  font-size: 10px;
  color: #4d4d4d;
  top: 10px;
  left: 43%;

}

.q {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.top-box {
  background: #ffffff;         
  color: #fff;
  border-radius: 16px;     
  padding: 24px;
  max-width: 500px;
  position: fixed;
  height: 30px;
  width: 500px;
  top: 0px;   
  left: -20px;  
  z-index: 2;
}


.out {
  position: absolute;
  bottom: 345px;
  left: 40px;
  font-size: 10px;
  z-index: 3;
}

.tlwkd {
  position: absolute;
  bottom: 320px;
  left: 39px;
  font-size: 10px;
  color: grey;
  z-index: 3;
}
